# JS stuff
*/node_modules

# Dev stuff
.git
.gitignore
LICENSE
README.md
.vscode
*/.vscode
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*.pyc
portfolio_venv/
*/media/user_*/
*/db.sqlite3