{% extends "backend/layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}


<form action="{% url 'backend:login' %}" method="post" class="mb-3 mx-auto w-50">
    {% csrf_token %}
    {% include "backend/generic_form.html" with form=loginForm %}
    <input class="btn btn-primary" type="submit" value="Login">
</form>

<div class="mx-auto w-50">
    <div class="text-start fs-6">
        Don't have an account? <a href="{% url 'backend:register' %}">Register here.</a></div>
</div>

{% endblock %}