{% extends "backend/layout.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Transaction{% endblock %}


{% block body %}
{{ form.media }}  {# Adds widget's JS/CSS files from CDN #}
{% if request.user.is_authenticated %}
<div id="transaction-page">
    <form action="{% url 'backend:transaction' %}" method="post" class="row g-3 mx-auto w-50" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger mb-3" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        <!--ACTION-->
        <div class="col-12 form-floating">
            {% if form.is_bound %}
            {% if form.type.errors %}
            {% render_field form.type class="form-select form-select-sm is-invalid" %}
            {% for error in form.type.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.type class="form-select form-select-sm is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.type class="form-select form-select-sm" aria-label="Floating label select example" %}
            {% endif %}
            <label for="{{ form.type.id_for_label }}" class="form-control-sm text-muted mb-1">{{ form.type.label }}</label>
            {% if form.type.help_text %}
            <div class="form-text text-start text-muted" style="font-size:12px;">{{ form.type.help_text }}</div>
            {% endif %}
        </div>

        <!--SYMBOL-->
        <div class="col-md-4 form-floating">
            {% if form.is_bound %}
            {% if form.symbol_id.errors %}
            {% render_field form.symbol_id class="form-control form-control-sm is-invalid" %}
            {% for error in form.symbol_id.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.symbol_id class="form-control form-control-sm is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.symbol_id placeholder=form.symbol_id.label class="form-control form-control-sm" %}
            {% endif %}
            <label for="{{ form.symbol_id.id_for_label }}" class="form-control-sm text-muted mb-1">{{ form.symbol_id.label }}</label>
            {% if form.symbol_id.help_text %}
            <div class="form-text text-start text-muted" style="font-size:12px;">{{ form.symbol_id.help_text }}</div>
            {% endif %}
        </div>

        <!--PRICE-->
        <div class="col-md-4 form-floating">
            {% if form.is_bound %}
            {% if form.bought_at.errors %}
            {% render_field form.bought_at class="form-control form-control-sm is-invalid" %}
            {% for error in form.bought_at.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.bought_at class="form-control form-control-sm is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.bought_at placeholder=form.bought_at.label class="form-control form-control-sm" %}
            {% endif %}
            <label for="{{ form.bought_at.id_for_label }}" class="form-control-sm text-muted mb-1">$ {{ form.bought_at.label }}</label>
            {% if form.bought_at.help_text %}
            <div class="form-text text-start text-muted" style="font-size:12px;">{{ form.bought_at.help_text }}</div>
            {% endif %}
        </div>

        <!--QUANTITY-->
        <div class="col-md-4 form-floating">
            {% if form.is_bound %}
            {% if form.quantity.errors %}
            {% render_field form.quantity class="form-control form-control-sm is-invalid" %}
            {% for error in form.quantity.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.quantity class="form-control form-control-sm is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.quantity placeholder=form.quantity.label class="form-control form-control-sm" %}
            {% endif %}
            <label for="{{ form.quantity.id_for_label }}" class="form-control-sm text-muted mb-1">{{ form.quantity.label }}</label>
            {% if form.quantity.help_text %}
            <div class="form-text text-start text-muted" style="font-size:12px;">{{ form.quantity.help_text }}</div>
            {% endif %}
        </div>

        <!--Tx_ID-->
        <div class="col-12 form-floating">
            {% if form.is_bound %}
            {% if form.tx_id.errors %}
            {% render_field form.tx_id class="form-control form-control-sm is-invalid" %}
            {% for error in form.tx_id.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.tx_id class="form-control form-control-sm is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.tx_id placeholder=form.tx_id.label class="form-control form-control-sm" %}
            {% endif %}
            <label for="{{ form.tx_id.id_for_label }}" class="form-control-sm text-muted mb-1">{{ form.tx_id.label }}</label>
            {% if form.tx_id.help_text %}
            <div class="form-text text-start text-muted" style="font-size:12px;">{{ form.tx_id.help_text }}</div>
            {% endif %}
        </div>

        <!--Portfolio-->
        <div class="col-11">
            {% if form.is_bound %}
            {% if form.portfolio.errors %}
            {% render_field form.portfolio class="transactionForm_portfolio portfolio-states form-select form-select-sm is-invalid" aria-label="multiple select example" data-placeholder="Choose a portfolio" %}
            {% for error in form.portfolio.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.portfolio class="transactionForm_portfolio portfolio-states form-select form-select-sm is-valid" aria-label="multiple select example" data-placeholder="Choose a portfolio" %}
            {% endif %}
            {% else %}
            {% render_field form.portfolio class="transactionForm_portfolio portfolio-states form-select form-select-sm" aria-label="multiple select example" data-placeholder="Choose a portfolio" %}
            {% endif %}

            {% if form.portfolio.help_text %}
            <div class="text-start text-muted" style="font-size:12px;">{{ form.portfolio.help_text }}</div>
            {% endif %}
        </div>
        <div class="col-1"><a href="#" class="d-inline-block" data-bs-toggle="tooltip" data-bs-title="Nonexistent portfolio will be created, if submitted."><i class="bi bi-info-circle"></i></a></div>

        <!--COMMENT-->
        <div class="col-12 form-floating">
            {% if form.is_bound %}
            {% if form.comment.errors %}
            {% render_field form.comment rows="3" class="form-control form-control-sm is-invalid" %}
            {% for error in form.comment.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.comment rows="3" class="form-control form-control-sm is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.comment rows="3" placeholder=form.comment.label class="form-control form-control-sm" style="height: 5rem" %}
            {% endif %}
            <label for="{{ form.comment.id_for_label }}" class="form-control-sm text-muted mb-1">
                {{ form.comment.label }}
            </label>
            {% if form.comment.help_text %}
            <div class="form-text text-start text-muted" style="font-size:12px;">{{ form.comment.help_text }}</div>
            {% endif %}
        </div>

        <!--DATE-->
        <div class="col-12">
            {% if form.is_bound %}
            {% if form.created_on.errors %}
            {% render_field form.created_on class="form-control form-control-sm is-invalid" %}
            {% for error in form.created_on.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field form.created_on class="form-control form-control-sm is-valid" %}
            {% endif %}
            {% else %}
            {% render_field form.created_on class="form-control form-control-sm" %}
            {% endif %}
            {% if form.created_on.help_text %}
            <div class="form-text text-start text-muted" style="font-size:12px;">{{ form.created_on.help_text }}</div>
            {% endif %}
        </div>
        <div class="col-12">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block script %}
<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% render_bundle 'transaction' %}
{% endblock %}

